
    img{
        width:200px;
        position:relative;
        left: 500px;
        bottom: 10px;
          z-index:1 ;
        
    }
    body{
    color: rgba(255, 0, 0, 0.461);
     background-image: url('bg.jpg');
     font-family: Arial;
    
    }
.directions{
    font-weight: bold;
    color: rgb(17, 19, 19);

}
#love{
font-style: oblique;
}
p span{
    color: brown;
}
div{
    border: 2px solid #ffff00;
    padding: 20px 100px 20px 530px;
    z-index: 5;

}